.cms-wrapper {
	padding: 50px 200px 100px 200px;
	background-color: #fff;
}

@media (max-width:1900px) {
	.cms-wrapper {
		padding: 50px 30px 100px 30px;
	}
}

@media (max-width:1365px) {
	.cms-wrapper {
		padding: 50px 0 100px 0;
	}
}