.form {
	display: grid;
	grid-template-columns: 5fr 5fr;
	grid-template-rows: 60px;
	grid-template-areas:
		"product description"
		"category description"
		"measurement count"
		"discont price"
		". add-picture";
	column-gap: 24px;
	row-gap: 12px;
}

.form__element_product {
	grid-area: product;
}

.form__element_category {
	grid-area: category;
}

.form__element_measurement {
	grid-area: measurement;
}

.form__element_discont {
	grid-area: discont;
}

.form__element_description {
	grid-area: description;
	grid-row-start: 1;
	grid-row-end: 3;
}

.form__input-line_description {
	resize: none;
}

.form__element_count {
	grid-area: count;
}

.form__element_price {
	grid-area: price;
	margin-bottom: 20px;
}

.discont__items {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 40px;
	column-gap: 10px;
}

.form__input-title {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #6E6893;
}

.form__input-margin {
	margin-bottom: 5px;
}

.form__input-line {
	width: 100%;
	min-height: 40px;
	background: #F4F2FF;
	border-radius: 6px;
	border: none;
}

.form__input-line_discont-checkbox {
	max-width: 40px;
	min-height: 40px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form__input-line_discont-checkbox {
	position: relative;
	appearance: none;
	display: inline-block;
	border-radius: 6px;
	margin-right: 1px;
}

.form__input-line_discont-checkbox::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #F4F2FF;
	border-radius: 6px;
}

.form__input-line_discont-checkbox::after {
	content: "";
	position: absolute;
	width: 6px;
	height: 10px;
	background-color: transparent;
	border: 3px solid #000000;
	border-left: none;
	border-top: none;
	transform: rotate(45deg) translate(-3px, -3px);
	visibility: hidden;
}

.form__input-line_discont-checkbox:checked::after {
	visibility: visible;
	padding: 12px 12px;
	margin-left: 8px;
}

.add-picture {
	grid-area: add-picture;
}

.add-picture__btn {
	background-color: #6D5BD0;
	border-radius: 6px;
	border: none;
	padding: 11px 29px 11px 28px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;

}

@media (max-width:820px) {
	.form {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8fr, 20px);
		grid-template-areas:
			"product"
			"description"
			"description"
			"category"
			"measurement"
			"count"
			"discont"
			"price"
			"add-picture";
		column-gap: 12px;
		row-gap: 8px;
	}

	.form__element_description {
		grid-row-start: 2;
		grid-row-end: 5;
	}

	.form__element_price {
		margin-bottom: 12px;
	}

	.discont__items {
		grid-template-columns: 1fr 15fr;
		column-gap: 20px;
	}

	.form__input-line_discont-checkbox {
		max-width: none;
		min-width: 40px;
	}

	.form__input-title {
		font-size: 8px;
	}

	.add-picture {
		margin: 0 auto;
	}

	.add-picture__btn {
		font-size: 10px;
	}
}