.header-wrapper {
	padding-top: 30px;
	margin-bottom: 94px;
}

@media (max-width:1024px) {
	.header-wrapper {
		padding-top: 44px;
		margin-bottom: 60px;
	}
}

@media (max-width:877.71px) {
	.header-wrapper {
		padding-top: 28px;
		margin-bottom: 50px;
	}
}

@media (max-width:614.40px) {
	.header-wrapper {
		padding-top: 20px;
		margin-bottom: 41px;
	}
}