.header-items {
	display: grid;
	grid-template-columns: 2fr 2fr 7fr 4fr;
	grid-template-rows: 1fr;
	column-gap: 90px;
}

.header-items__logo {
	padding-top: 10px;
}

.header-items__menu {
	padding-top: 1px;
	padding-bottom: 7px;
}

.header-items__menu-action {
	position: relative;
	background: #3670C7;
	border-radius: 10px;
	border: none;
	padding: 9px 28px 12px 61px;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 150%;
	color: #FFFFFF;
}

.header-items__menu-action:before {
	content: "";
	background-image: url("../../images/sort.svg");
	min-width: 24px;
	min-height: 24px;
	position: absolute;
	top: 12px;
	right: 100px;
}

.header-items__search {
	position: relative;
}

.header-items__search-line {
	width: 100%;
	height: 100%;
	background: #EFEFEF;
	border-radius: 30px;
	border: none;
	padding-top: 15px;
	padding-bottom: 18px;
	padding-left: 40px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	color: #8F8F8F;
}

.header-items__search-button {
	min-width: 101px;
	min-height: 60px;
	position: absolute;
	left: 655px;
	background: #3670C7;
	border-radius: 30px;
	border: none;
}

.header-items__search-button:before {
	position: absolute;
	content: "";
	background-image: url("../../images/search.svg");
	min-width: 26.24px;
	min-height: 26.24px;
	top: 20px;
	left: 37.5px
}

.header-items__navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 60px;
	justify-items: center;
}

.header__nav-item_profile {
	background-image: url("../../images/person.svg");
}

.header__nav-item_busket {
	background-image: url("../../images/shopping_cart.svg");
}

.header__nav-item_favourite {
	background-image: url("../../images/favorite.svg");
}

.header__nav-item {
	max-width: 36px;
	min-height: 36px;
	padding-top: 3px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.header__nav-text {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	color: #2D2D2D;
}

@media (max-width:6144px) {
	.header-items__logo {
		padding-top: 25px;
	}

	.header-items__menu {
		padding-top: 10px;
	}

	.header-items__search-button {
		min-height: 70px;
		left: 600px;
		top: 0;
	}
}

@media (max-width:1706.67px) {
	.header-items__search-button {
		left: 510px;
	}
}

@media (max-width:1536px) {
	.header-items__search-button {
		left: 390px;
	}
}

@media (max-width:1396.36px) {
	.header-items {
		display: grid;
		grid-template-columns: 3fr 9fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"logo navigation"
			"menu search";
		row-gap: 34px;
	}

	.header-items__logo {
		grid-area: logo;
	}

	.header-items__navigation {
		grid-area: navigation;
		column-gap: 40px;
		justify-self: end;
	}

	.header-items__menu {
		grid-area: menu;
	}

	.header-items__search {
		grid-area: search;
	}

	.header-items__logo {
		padding-top: 20px;
	}

	.header-items__search-button {
		left: 775px;
	}
}

@media (max-width:1228.80px) {
	.header-items__search-button {
		left: 655px;
	}
}

@media (max-width:1024px) {
	.header-items__search-button {
		left: 530px;
	}
}

@media (max-width:877.71px) {
	.header-items {
		row-gap: 29px;
	}

	.header-items__search-button {
		left: 422px;
	}
}

@media (max-width:768px) {
	.header-items__search-button {
		left: 350px;
	}
}

@media (max-width:614.40px) {
	.header-items {
		column-gap: 60px;
		row-gap: 20px;
	}

	.header-items__search-button {
		left: 240px;
	}
}