.promo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 60px;
	row-gap: 60px;
}

.block {
	position: relative;
}

.picture {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}


.text {
	font-style: normal;
	font-weight: 700;
	color: #FFFFFF;
}

.text-position {
	position: absolute;
}

.discont {
	position: absolute;
	min-width: 88px;
	min-height: 88px;
	border-radius: 50%;
	background: #FFBD13;
	padding: 24px 8px 25px 9px;
}

.discont-text {
	font-size: 30px;
	line-height: 130%;
}

.one {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 60px;
	row-gap: 43px;
}

.block__book-text {
	max-width: 190px;
	max-height: 128px;
	top: 80px;
	left: 20px;
	font-size: 40px;
	line-height: 130%;
}

.block__book-text_size {
	font-weight: 400;
}

.block__clock-text {
	min-width: 206px;
	min-height: 39px;
	top: 77px;
	left: 14px;
	font-size: 30px;
	line-height: 130%;
}

.block__clock-discont {
	top: 130px;
	left: 137px;
}

.block__sneaker {
	grid-column: 1 / 3;
}

.block__sneaker-discont {
	top: 20px;
	left: 20px;
}

.block__snikers-info {
	position: absolute;
	max-width: 470px;
	min-height: 167px;
	top: 360px;
	left: 20px;
	padding: 24px 20px;
	background: #38C0EB;
	border-radius: 20px;
}

.block__snikers-text {
	font-weight: 400;
	font-size: 40px;
	line-height: 120%;
}

.three {
	display: grid;
	row-gap: 90px;
}

.block__gifts-text {
	min-width: 340px;
	top: 94px;
	left: 30px;
	font-size: 40px;
	line-height: 130%;
}

.block__laptop-text {
	top: 136px;
	left: 30px;
	font-size: 40px;
	line-height: 130%;
}

.block__laptop-discont {
	top: 120px;
	left: 442px;
}

.four {
	display: grid;
	grid-column: 1 / 3;
}

.block__year-info {
	position: absolute;
	top: 358px;
	left: 50px;
	background: #FFFFFF;
	border-radius: 20px;
	padding: 30px 43px 30px 40px;
}

.block__year-text {
	font-size: 40px;
	line-height: 120%;
	text-transform: uppercase;
	color: #F91155;
}

.five {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 60px;
	row-gap: 26px;
}

.five-five {
	display: none;
}

.block__lady {
	grid-row: 1 / 3;
	border-radius: 20px;
}

.block__lady-discont {
	top: 450px;
	left: 137px;
}

.block__cleaning-text {
	top: 130px;
	left: 20px;
	font-size: 30px;
	line-height: 130%;
}

.block__cleaning-discont {
	top: 20px;
	left: 20px;
}

@media (max-width:1706.67px) {
	.block__book-text {
		font-size: 30px;
	}

	.block__clock-text {
		top: 70px;
		left: 10px;
		font-size: 24px;
	}

	.block__clock-discont {
		top: 120px;
		left: 110px;
	}

	.block__sneaker-discont {
		top: 20px;
		left: 20px;
	}

	.block__snikers-info {
		max-width: 406px;
		min-height: 143px;
		top: 330px;
		left: 20px;
		padding: 24px 27px 32px 25px;
	}

	.block__snikers-text {
		font-size: 30px;
		white-space: pre-line;
	}

	.block__gifts-text {
		font-size: 30px;
		white-space: pre-line;
	}

	.block__laptop-text {
		top: 120px;
		font-size: 30px;
	}

	.block__laptop-discont {
		top: 100px;
		left: 380px;
	}

	.block__year-info {
		top: 310px;
	}

	.block__lady-discont {
		top: 390px;
		left: 110px;
	}

	.block__cleaning-text {
		font-size: 25px;
	}
}

@media (max-width:1536px) {
	.promo {
		column-gap: 50px;
	}

	.one {
		row-gap: 35px;
	}

	.three {
		row-gap: 60px;
	}

	.five {
		column-gap: 50px;
	}

	.block__book-text {
		top: 70px;
	}

	.block__clock-text {
		top: 50px;
		left: 9px;
	}

	.block__clock-discont {
		top: 100px;
		left: 90px;
	}

	.block__sneaker-discont {
		top: 10px;
	}

	.block__snikers-info {
		top: 270px;
	}

	.block__gifts-text {
		top: 89px;
	}

	.block__laptop-text {
		top: 100px;
	}

	.block__laptop-discont {
		top: 80px;
		left: 330px;
	}

	.block__year-info {
		top: 280px;
	}

	.block__lady-discont {
		top: 335px;
		left: 85px;
	}

	.block__cleaning-text {
		font-size: 20px;
	}

	.block__cleaning-discont {
		top: 10px;
		left: 6px;
	}
}

@media (max-width:1396.36px) {
	.promo {
		column-gap: 40px;
	}

	.block__book-text {
		max-height: 69px;
		top: 60px;
		font-size: 24px;
	}

	.block__clock-text {
		font-size: 20px;
	}

	.block__sneaker-discont {
		left: 10px;
	}

	.block__clock-discont {
		top: 85px;
		left: 65px;
	}

	.block__snikers-info {
		max-width: 340px;
		min-height: 110px;
		top: 250px;
		padding: 24px 10px 32px 10px;
	}

	.block__gifts-text {
		top: 70px;
	}

	.block__laptop-text {
		top: 90px;
		font-size: 24px;
	}

	.block__laptop-discont {
		top: 60px;
		left: 280px;
	}

	.block__year-info {
		top: 250px;
	}

	.block__lady-discont {
		top: 300px;
		left: 60px;
	}

	.block__cleaning-text {
		top: 120px;
	}
}

@media (max-width:1228.80px) {
	.promo {
		column-gap: 20px;
	}

	.one {
		row-gap: 24px;
		column-gap: 20px;
	}

	.three {
		row-gap: 30px;
	}

	.five {
		column-gap: 20px;
	}

	.block__clock-text {
		top: 40px;
	}

	.block__clock-discont {
		top: 70px;
		left: 70px;
	}

	.block__snikers-info {
		max-width: 310px;
		min-height: 110px;
		top: 190px;
		padding: 20px 30px 20px 30px;
	}

	.block__laptop-text {
		top: 70px;
	}

	.block__laptop-discont {
		top: 70px;
		left: 260px;
	}

	.block__year-info {
		top: 210px;
	}

	.block__lady-discont {
		top: 250px;
		left: 55px;
	}

	.block__cleaning-text {
		top: 100px;
	}
}

@media (max-width:1024px) {
	.promo {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"one two"
			"three five"
			"four four";
		column-gap: 30px;
		row-gap: 22px;
	}

	.three {
		margin-bottom: 32px;
	}

	.five {
		grid-area: five;
		margin-bottom: 32px;
	}

	.picture {
		border-radius: 16px;
	}

	.block__book-text {
		top: 101px;
		left: 9px;
		white-space: pre-line;
	}

	.block__clock-text {
		top: 54px;
		font-size: 24px;
	}

	.block__clock-discont {
		top: 104px;
		left: 104px;
	}

	.block__snikers-info {
		max-width: 0;
		min-width: 406px;
		min-height: 143px;
		top: 320px;
		padding: 24px 27px 32px 25px;
	}

	.block__gifts-text {
		top: 110px;
	}

	.block__laptop-text {
		top: 119px;
	}

	.block__laptop-discont {
		top: 90px;
		left: 350px;
	}

	.block__lady-discont {
		top: 355px;
		left: 100px;
	}

	.block__cleaning-text {
		top: 151px;
	}

	.block__year-info {
		top: 350px;
		left: 30px;
		padding: 24px 46px 23px 47px;
	}

	.block__year-text {
		font-size: 30px;
	}
}

@media (max-width:877.71px) {
	.promo {
		column-gap: 20px;
	}

	.block__book-text {
		top: 75px;
	}

	.block__clock-discont {
		left: 90px;
	}

	.block__snikers-info {
		min-width: 340px;
		min-height: 100px;
		top: 300px;
	}

	.block__snikers-text {
		font-size: 20px;
	}

	.block__gifts-text {
		font-size: 20px;
	}

	.block__laptop-discont {
		left: 280px;
	}

	.block__lady-discont {
		top: 290px;
		left: 80px;
	}

	.block__cleaning-text {
		top: 120px;
	}

	.block__year-info {
		top: 300px;
	}
}

@media (max-width:768px) {
	.promo {
		grid-template-columns: 43% 54%;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"small-a small-b"
			"small-a small-b"
			"four four";
		column-gap: 20px;
		row-gap: 22px;
	}

	.one {
		grid-area: small-a;
		grid-row: 1 / 2;
		row-gap: 22px;
	}

	.two {
		grid-area: small-b;
		grid-row: 1 / 3;
		max-height: 380px;
	}

	.three {
		grid-area: small-a;
		grid-row: 2 / 3;
		row-gap: 22px;
		margin-bottom: 0;
	}

	.four {
		grid-area: four;
		grid-row: 3 / 5;
	}

	.five {
		display: none;
	}

	.five-five {
		display: block;
	}

	.five-five {
		grid-area: small-b;
		grid-row: 2 / 3;
		margin-bottom: 0;
		max-width: 253px;
		max-height: 380px;
	}

	.picture {
		border-radius: 12px;
	}

	.discont {
		min-width: 50px;
		min-height: 50px;
		padding: 13px 5px 16px 7px;
	}

	.discont-text {
		font-size: 16px;
	}

	.block__book-text {
		max-width: 100px;
		top: 48px;
		font-size: 22px;
	}

	.five-five {
		display: grid;
		grid-template-columns: 253px 82px;
		grid-template-rows: 120px repeat(2, 1fr);
		grid-template-areas:
			". ."
			"block__lady block__cleaning"
			"block__lady block__balls";
		row-gap: 8px;
		column-gap: 21px;
	}

	.block__lady {
		grid-area: block__lady;
	}

	.block__cleaning {
		grid-area: block__cleaning;
	}

	.block__balls {
		grid-area: block__balls;
	}

	.block__clock-text {
		min-width: 100px;
		top: 25px;
		font-size: 16px;
	}

	.block__clock-discont {
		top: 70px;
		left: 80px;
	}

	.block__snikers-info {
		min-width: 300px;
		min-height: 50px;
		top: 310px;
		padding: 12px 30px 20px 26px;
		border-radius: 12px;
	}

	.block__snikers-text {
		font-size: 14px;
		white-space: nowrap;
	}

	.block__gifts-text {
		min-width: 190px;
		top: 90px;
		font-size: 16px;
	}

	.block__laptop-text {
		top: 90px;
		font-size: 16px;
		line-height: 120%;
	}

	.block__laptop-discont {
		top: 80px;
		left: 240px;
	}

	.block__lady {
		background-image: url("../../images/8-788.jpg");
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		object-fit: cover;
		border-radius: 12px;
	}

	.block__lady-discont {
		top: 110px;
		left: 190px;
	}

	.block__cleaning {
		background-image: url("../../images/9-788.jpg");
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		object-fit: cover;
		border-radius: 12px;
	}

	.block__balls {
		background-image: url("../../images/10-788.jpg");
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		object-fit: cover;
		border-radius: 12px;
	}

	.block__year-info {
		top: 240px;
		padding: 22px 33px 22px 34px;
		border-radius: 12px;
	}

	.block__year-text {
		font-size: 20px;
	}

	.block__cleaning-text {
		top: 45px;
		left: 3px;
		font-size: 12px;
		line-height: 120%;
	}

	.block__cleaning-discont {
		min-width: 36px;
		min-height: 36px;
		padding: 9px 3px 11px 4px;
		top: 3px;
		left: 3px;
	}

	.block__cleaning-discont_text {
		font-size: 12px;
		line-height: 130%;
	}
}

@media (max-width:614.40px) {
	.picture {
		border-radius: 8px;
	}

	.two {
		max-height: 310px;
	}

	.block__book-text {
		max-width: 70px;
		top: 40px;
		font-size: 16px;
	}

	.block__clock-text {
		min-width: 90px;
		min-height: 20px;
		font-size: 12px;
	}

	.block__clock-discont {
		top: 50px;
		left: 55px;
	}

	.block__sneaker-discont {
		top: 5px;
		left: 5px;
	}

	.block__snikers-info {
		min-width: 260px;
		min-height: 36px;
		top: 260px;
		padding: 7px 25px 11px 25px;
		border-radius: 8px;
	}

	.block__gifts-text {
		min-width: 181px;
		top: 80px;
		left: 10px;
		font-size: 12px;
		white-space: nowrap;
	}

	.block__laptop-text {
		top: 80px;
		left: 10px;
		font-size: 12px;
	}

	.block__laptop-discont {
		top: 53px;
		left: 180px;
	}

	.block__year-info {
		top: 190px;
		padding: 7px 41px 9px 41px;
		border-radius: 6px;
	}

	.five-five {
		display: grid;
		grid-template-columns: 210px 65px;
		grid-template-rows: 90px repeat(2, 1fr);
	}

	.block__lady-discont {
		top: 85px;
		left: 145px;
	}

	.block__cleaning-discont {
		padding: 7px 1px 10px 1px;
	}

	.block__cleaning-text {
		top: 42px;
		left: 4px;
		font-size: 8px;
	}
}

@media (max-width:512px) {
	.promo {
		grid-template-columns: 49% 49%;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"one two"
			"three five"
			"four four";
		column-gap: 10px;
		row-gap: 0;
	}

	.one {
		grid-area: one;
		grid-row: 1 / 2;
		row-gap: 10px;
		column-gap: 10px;
	}

	.two {
		grid-area: two;
		grid-row: 1 / 2;
		max-height: 215px;
	}

	.three {
		grid-area: three;
		grid-row: 2 / 3;
		row-gap: 10px;
	}

	.picture {
		height: auto;
	}

	.block__book-text {
		max-width: 65px;
		top: 40px;
		line-height: 110%;
	}

	.block__clock-text {
		min-width: 85px;
		font-size: 11px;
	}

	.block__clock-discont {
		left: 50px;
	}

	.block__sneaker-discont {
		top: 2px;
		left: 2px;
	}

	.block__gifts-text {
		top: 60px;
		line-height: 120%;
	}


	.block__laptop-text {
		top: 60px;
	}

	.block__laptop-discont {
		top: 35px;
		left: 165px;
	}

	.block__year-text {
		font-size: 12px;
	}

	.block__year-info {
		top: 150px;
	}

	.block__snikers-info {
		min-width: 210px;
		min-height: 40px;
		top: 165px;
		left: 10px;
		padding: 7px;
	}

	.block__snikers-text {
		font-size: 12px;
		line-height: 110%;
	}

	.five-five {
		display: none;
	}

	.five {
		display: block;
	}

	.five {
		display: grid;
		grid-area: five;
		grid-row: 2 / 3;
	}

	.five {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"block__lady block__cleaning"
			"block__lady block__balls";
		column-gap: 10px;
		row-gap: 8px;
	}

	.block__lady {
		grid-area: block__lady;
	}

	.block__cleaning {
		grid-area: block__cleaning;
	}

	.block__balls {
		grid-area: block__balls;
	}

	.block__cleaning-discont {
		min-width: 50px;
		min-height: 50px;
		padding: 13px 5px 16px 7px;
		top: 3px;
		left: 3px;
	}

	.block__cleaning-text {
		top: 70px;
		left: 9px;
		font-size: 12px;
	}

	.block__lady-discont {
		top: 170px;
		left: 50px;
	}
}

@media (max-width:384px) {
	.promo {
		grid-template-columns: 48% 49%;
	}

	.two {
		max-height: 155px;
	}

	.discont {
		min-width: 36px;
		min-height: 36px;
		padding: 7px 3px 10px 3px;
	}

	.discont-text {
		font-size: 13px;
	}

	.block__book-text {
		max-width: 65px;
		top: 30px;
		font-size: 12px;
	}


	.block__clock-text {
		top: 15px;
		font-size: 8px;
	}

	.block__clock-discont {
		left: 37px;
		top: 37px;
	}

	.block__snikers-info {
		min-width: 145px;
		top: 110px;
	}

	.block__snikers-text {
		font-size: 8px;
	}

	.block__gifts-text {
		top: 40px;
	}

	.block__gifts-text {
		font-size: 10px;
	}

	.block__laptop-text {
		top: 40px;
		font-size: 10px;
	}

	.block__laptop-discont {
		top: 25px;
		left: 125px;
	}

	.five {
		grid-template-rows: 5px repeat(2, 1fr);
		grid-template-areas:
			". ."
			"block__lady block__cleaning"
			"block__lady block__balls";
	}

	.block__lady-discont {
		top: 120px;
		left: 40px;
	}

	.block__cleaning-text {
		top: 50px;
		font-size: 10px;
	}

	.block__year-info {
		top: 110px;
	}
}

@media (max-width:307.20px) {
	.promo {
		grid-template-columns: 1fr;
		grid-template-rows: 266px 280px 252px 274px 124px;
		grid-template-areas:
			"one"
			"two"
			"three"
			"five"
			"four";
		row-gap: 20px;
	}

	.one {
		grid-area: one;
		column-gap: 20px;
		row-gap: 20px;
	}

	.two {
		grid-area: two;
		max-height: 280px;
	}

	.three {
		grid-area: three;
		row-gap: 20px;
	}

	.four {
		grid-area: four;
	}

	.five {
		grid-area: five;
	}

	.discont {
		min-width: 50px;
		min-height: 50px;
		padding: 13px 5px 16px 7px;
	}

	.block__book-text {
		max-width: 65px;
		top: 74px;
		font-size: 16px;
	}

	.discont-text {
		font-size: 16px;
	}

	.block__clock-text {
		top: 25px;
		font-size: 12px;
	}

	.block__clock-discont {
		left: 75px;
		top: 75px;
	}

	.block__sneaker-discont {
		top: 5px;
		left: 5px;
	}

	.block__snikers-info {
		min-width: 260px;
		top: 220px;
		padding: 7px 25px 11px 25px;
	}

	.block__snikers-text {
		font-size: 12px;
	}

	.block__gifts-text {
		top: 88px;
		font-size: 12px;
	}

	.block__laptop-text {
		top: 88px;
		font-size: 12px;
	}

	.block__laptop-discont {
		top: 63px;
		left: 225px;
	}

	.five {
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"block__lady block__cleaning"
			"block__lady block__balls";
		column-gap: 20px;
		row-gap: 14px;
	}

	.block__lady-discont {
		top: 220px;
		left: 70px;
	}

	.block__cleaning-discont {
		min-width: 50px;
		min-height: 50px;
		padding: 13px 5px 16px 7px;
		top: 5px;
		left: 5px;
	}

	.block__cleaning-text {
		top: 106px;
		font-size: 12px;
	}

	.block__year-info {
		top: 83px;
		left: 15px;
	}
}