.promo-wrapper {
	padding-bottom: 140px;
}

@media (max-width:1024px) {
	.promo-wrapper {
		padding-bottom: 100px;
	}
}

@media (max-width:768px) {
	.promo-wrapper {
		padding-bottom: 80px;
	}
}


@media (max-width:512px) {
	.promo-wrapper {
		padding-bottom: 70px;
	}
}