.promo-A {
	display: grid;
	grid-template-columns: 550px 94px 516px 60px 550px;
	grid-template-rows: 516px;
	grid-template-areas:
		"part-one space-A part-two space-B part-three";
	margin-bottom: 60px;
}

.promo-B {
	display: grid;
	grid-template-columns: 1160px 60px 550px;
	grid-template-rows: 516px;
	grid-template-areas:
		"part-four space-B part-five";
}

.part-one {
	display: grid;
	grid-template-columns: 245px 245px;
	grid-template-rows: 245px 228px;
	grid-template-areas:
		"promo__one promo__two"
		"promo__five promo__five";
	row-gap: 43px;
	column-gap: 60px;
}

.part-two {
	display: grid;
	grid-template-columns: 516px;
	grid-template-rows: 516px;
}

.part-three {
	display: grid;
	grid-template-columns: 550px;
	grid-template-rows: 228px 228px;
	row-gap: 60px;
}

.part-four {
	display: grid;
	grid-template-columns: 1160px;
	grid-template-rows: 516px;
	grid-template-areas:
		"promo__seven";
}

.part-five {
	display: grid;
	grid-template-columns: 245px 245px;
	grid-template-rows: 245px 245px;
	grid-template-areas:
		"promo__eight promo__nine"
		"promo__eight promo__ten";
	row-gap: 26px;
	column-gap: 60px;
}

.promo-position {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	object-fit: cover;
	border-radius: 20px;
}

.promo__one {
	grid-area: promo__one;
	background-image: url("../../images/1.jpg");
}

.text-position {
	position: absolute;
}

.text {
	font-style: normal;
	font-weight: 700;
	color: #FFFFFF;
}

.promo__one-text {
	max-width: 190px;
	max-height: 128px;
	top: 80px;
	left: 20px;
	font-size: 40px;
	line-height: 130%;
}

.discont {
	position: relative;
	min-width: 88px;
	min-height: 88px;
	border-radius: 50%;
	background: #FFBD13;
}

.discont-position {
	position: absolute;
}

.discont-text {
	position: absolute;
	top: 22px;
	left: 10px;
	font-size: 30px;
	line-height: 130%;
}

.promo__two {
	grid-area: promo__two;
	background-image: url("../../images/2.jpg");
}

.promo__two-text {
	min-width: 206px;
	min-height: 39px;
	top: 77px;
	left: 14px;
	font-size: 30px;
	line-height: 130%;
}

.promo__two-discont {
	top: 130px;
	left: 137px;
}

.promo__three {
	background-image: url("../../images/3.jpg");
}

.promo__three-info {
	max-width: 476px;
	max-height: 167px;
	top: 329px;
	left: 20px;
	padding: 24px 20px;
	background: #38C0EB;
	border-radius: 20px;
}

.promo__three-text {
	font-weight: 400;
	font-size: 40px;
	line-height: 120%;
}

.promo__four {
	background-image: url("../../images/4.jpg");
}

.promo__four-text {
	min-width: 340px;
	min-height: 3104px;
	top: 94px;
	left: 30px;
	font-size: 40px;
	line-height: 130%;
}

.promo__five {
	grid-area: promo__five;
	background-image: url("../../images/5.jpg");
}

.promo__five-discont {
	top: 20px;
	left: 20px;
}

.promo__six {
	background-image: url("../../images/6.jpg");
}

.promo__six-text {
	top: 136px;
	left: 30px;
	font-size: 40px;
	line-height: 130%;
}

.promo__six-discont {
	top: 120px;
	left: 442px;
}

.promo__seven {
	grid-area: promo__seven;
	background-image: url("../../images/7.jpg");
}

.promo__seven-info {
	top: 358px;
	left: 50px;
	background: #FFFFFF;
	border-radius: 20px;
	padding: 30px 43px 30px 40px;
}

.promo__seven-text {
	font-size: 40px;
	line-height: 120%;
	text-transform: uppercase;
	color: #F91155;
}

.promo__eight {
	grid-area: promo__eight;
	background-image: url("../../images/8.jpg");
}

.promo__eight-discont {
	top: 408px;
	left: 137px;
}

.promo__nine {
	grid-area: promo__nine;
	background-image: url("../../images/9.jpg");
}

.promo__nine-text {
	top: 130px;
	left: 20px;
	font-size: 30px;
	line-height: 130%;
}

.promo__nine-discont {
	top: 20px;
	left: 20px;
}

.promo__ten {
	grid-area: promo__ten;
	background-image: url("../../images/10.jpg");
}
